{% extends 'base.html.twig' %}

{% block title %}Créer un groupe{% endblock %}
{% block navbar %}
    {% include 'navbar/navbar.html.twig' %}
{% endblock %}
{% block body %}
<div class="container mt-4">
    <h2 class="mb-3 text-center">Créer un Groupe</h2>
    <div class="card p-4 shadow-sm">
        {{ form_start(group) }}
        {{ form_widget(group, {'attr': {'class': 'form-control'}}) }}
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-success">Créer</button>
        </div>
        {{ form_end(group) }}
    </div>
</div>
{% endblock %}