{%extends 'base.html.twig' %}

{% block title "create groups" %}

{% block body%}
    <form action="{{ path('groups.delete') }}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit"> Suprimmer</button>
    </form>
{% endblock %}