{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Hello {{ name }}! ✅</h1>

    <p>
        <a class="btn btn-primary btn-sm" href="{{ path('task.create') }}"> Create Task </a>
    </p>

    {% for task in tasks %}
    <ul>
        <p>
            {{task.title}} 
            <a class="btn btn-primary btn-sm" href="{{ path('task.edit', {id: task.id}) }}"> Edit Task </a> 
            
        </p>
    </ul>
    {% endfor %}
{% endblock %}
